* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
* html, * body {
  font-family: "Nunito Sans", sans-serif;
  color: #121212;
  font-size: 14px;
  font-weight: 400;
  background: rgba(149, 153, 226, 0.3);
}
* html .container, * body .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
* html p, * body p {
  margin: 0;
  padding: 0;
}
* html a, * body a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
* html a:hover, * body a:hover {
  text-decoration: none;
  color: #f5f9fe;
}

.buyButton {
  background-image: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  letter-spacing: 0.015rem;
  transition: 0.5s;
  color: #121212;
  font-size: 1.1rem;
  font-weight: 700;
}
.buyButton:hover {
  background-image: linear-gradient(to right, #121212, #353536);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  letter-spacing: 0.015rem;
  transition: 0.5s;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
}

.buyButtonInverted {
  background-image: linear-gradient(to right, #9599e2 0, #8bc6ec 50%, #9599e2 100%);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  letter-spacing: 0.015rem;
  transition: 0.5s;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  background-size: 200%;
}
.buyButtonInverted:hover {
  background-position: right center;
}

.signUpButton {
  background-image: linear-gradient(19deg, #9599e2 0%, #9599e2 50%, #8bc6ec 100%);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  letter-spacing: 0.015rem;
  transition: 0.5s all;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.signUpButton:hover {
  opacity: 0.8;
}

.closeButton {
  background-image: linear-gradient(19deg, #8bc6ec 0%, #9599e2 50%, #9599e2 100%);
  border: none;
  padding: 0;
  border-radius: 50%;
  letter-spacing: 0.015rem;
  transition: 0.5s all;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  right: 20rem;
  top: -0.9375rem;
}

.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  transition: 0.1s ease;
  z-index: 999;
}

.show-popup .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}
.show-popup .form-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opcity 0.1s;
}

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 987px;
  width: 100%;
  min-height: 594px;
  opacity: 0;
  pointer-events: none;
  background: #fff;
  border: 2px solid brown;
  transform: translate(-50%, -100%);
  z-index: 999;
}
.form-popup .close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #878484;
  cursor: pointer;
}
.form-popup .form-box {
  display: flex;
}
.form-popup .signup {
  display: none;
}

.form-box .form-details {
  min-width: 456px;
  width: 100%;
  color: #fff;
  display: flex;
  padding: 0 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-box h2 {
  text-align: center;
  margin-bottom: 30px;
}
.form-box .form-content {
  width: 100%;
  padding: 35px;
}
.form-box a {
  color: #00bcd4;
  text-decoration: none;
}
.form-box a:hover {
  text-decoration: underline;
}
.form-box .forgot-password {
  display: inline-flex;
  margin-top: 20px;
  font-size: 0.95rem;
}
.form-box .policy-text {
  display: inline-flex;
  margin-top: 20px;
  font-size: 0.95rem;
}
.form-box .bottom-link {
  text-align: center;
}
.form-box .text-danger {
  color: red;
}

.login .form-details {
  background: url("https://brand.assets.adidas.com/image/upload/f_gif,fl_lossy,q_auto/ss24_ae_1_red_clay_launch_hp_tc_d_7b1457020b.gif");
  background-size: cover;
  background-position: center;
  height: 720px;
}

.signup .form-details {
  background: url("https://brand.assets.adidas.com/image/upload/f_gif,fl_lossy,q_auto/ss24_ae_1_red_clay_launch_hp_tc_d_7b1457020b.gif");
  background-size: cover;
  background-position: center;
}
.signup .policy-text {
  display: flex;
  align-items: center;
}
.signup .policy-text input {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

form .input-field {
  height: 50px;
  width: 100%;
  margin-top: 30px;
  position: relative;
}
form .input-field input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 0.95rem;
  border-radius: 3px;
  border: 1px solid #717171;
}
form .input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  color: #717171;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.2s ease;
}
form .input-radio {
  display: flex;
  margin-top: 30px;
  align-items: center;
}
form .input-radio .radio {
  margin: 0.5rem;
  display: flex;
  align-items: center;
}
form .input-radio .radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
form .input-radio .radio input[type=radio] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
form .input-radio .radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}
form .input-radio .radio input[type=radio]:checked + .radio-label:before {
  background-color: #00bcd4;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
form .input-radio .radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #00bcd4;
}
form .input-radio .radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
form button {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 14px 0;
  border-radius: 3px;
  margin: 25px 0;
  cursor: pointer;
  background: #00bcd4;
}
form button:hover {
  background: #0097a7;
}

.input-field input:focus {
  border-color: #00bcd4;
  color: #000;
  padding: 16px 15px 0;
}
.input-field input:focus ~ label {
  color: #00bcd4;
  font-size: 0.75rem;
  transform: translateY(-120%);
}
.input-field input:valid {
  padding: 16px 15px 0;
}
.input-field input:valid ~ label {
  color: #00bcd4;
  font-size: 0.75rem;
  transform: translateY(-120%);
}

.input-field.password span.eye {
  position: absolute;
  right: 15px;
  transform: translate(0, -50%);
  top: 50%;
  cursor: pointer;
}

.form-popup.show-signup .login {
  display: none;
}
.form-popup.show-signup .signup {
  display: flex;
}

@media (max-width: 760px) {
  .form-popup {
    width: 95%;
  }
  .form-box .form-details {
    display: none;
  }
  .form-box .form-content {
    padding: 30px 20px;
  }
}
header {
  background: #121212;
}
header .navbar-brand {
  color: #f5f9fe;
  font-size: 1.8rem;
  font-weight: 700;
}
header .search-and-login {
  position: relative;
}
header .search-and-login form i {
  position: absolute;
  right: 4.375rem;
  color: #121212;
}
header .cart a {
  color: white;
}
header .cart:hover a {
  color: #121212;
}

footer {
  background: #121212;
  color: #656774;
  font-size: 1.1rem;
  font-weight: 600;
}
footer span {
  margin-right: 1rem;
  color: #8bc6ec;
  font-size: 1.1rem;
  font-weight: 700;
}
footer h3 {
  color: #f5f9fe;
  font-size: 1.8rem;
  font-weight: 700;
}
footer li {
  margin-bottom: 8px;
}
footer .home-contact {
  border-bottom: 1px solid #656774;
  padding-bottom: 20px;
}

#product-preview {
  margin-top: 3rem;
  color: #121212;
  font-size: 14px;
  font-weight: 400;
}
#product-preview .container {
  background: rgba(255, 255, 255, 0.65);
  border-radius: 8px;
  padding-bottom: 10px;
}
#product-preview .container .carousel-control-next,
#product-preview .container .carousel-control-prev {
  color: #121212;
  font-size: 3.125rem;
  font-weight: 700;
}
#product-preview .container .carousel-title {
  color: transparent;
  font-size: 3rem;
  font-weight: 800;
  background: linear-gradient(to right, #212121, #9599e2);
  background-clip: text;
  text-align: center;
  border-bottom: 1px solid #9599e2;
  padding: 1rem 0;
}
#product-preview .container .carousel-item {
  padding: 0 100px !important;
}
#product-preview .container .carousel-item h5 {
  color: #9599e2;
  font-size: 1.8rem;
  font-weight: 600;
  border-bottom: 1px solid #9599e2;
}
#product-preview .container .carousel-item p {
  margin-bottom: 5px;
  border-bottom: 1px solid #9599e2;
}
#product-preview .container .carousel-item img {
  width: 50%;
  margin: auto;
  display: block;
}
#product-preview .container .carousel-item .inner-content {
  display: flex;
  align-items: center;
  gap: 32px;
}
#product-preview .container .carousel-item .inner-content .carousel-description {
  padding: 5px;
  background: #fff;
  border-radius: 8px;
  border: 2px solid rgba(149, 153, 226, 0.5);
}
#product-preview .container .carousel-item .inner-content .carousel-description .carousel-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#product-preview .container .carousel-item .inner-content .carousel-description .carousel-price span {
  color: #9599e2;
  font-size: 1.5rem;
  font-weight: 600;
}
#product-preview .container .carousel-item .inner-content .carousel-img-wrapper {
  width: 500px;
  background: #9599e2;
  border-radius: 8px;
}

#product-feature {
  margin: 3rem 0;
}
#product-feature .container {
  background: rgba(255, 255, 255, 0.65);
  border-radius: 8px;
}
#product-feature h1 {
  color: transparent;
  font-size: 3rem;
  font-weight: 800;
  background: linear-gradient(to right, #212121, #9599e2);
  background-clip: text;
  text-align: center;
  border-bottom: 1px solid #9599e2;
}
#product-feature h2 {
  color: #9599e2;
  font-size: 1.8rem;
  font-weight: 600;
}
#product-feature img {
  width: 100%;
}
#product-feature span {
  color: #9599e2;
  font-size: 1.5rem;
  font-weight: 600;
}
#product-feature #catalouge-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  padding: 1rem;
}
#product-feature #catalouge-item .featured-item {
  padding: 0;
  background: #9599e2;
  border-radius: 8px;
  max-width: 100%;
}
#product-feature #catalouge-item .featured-item .featured-text {
  padding: 5px;
  background: #fff;
  border-radius: 0 0 8px 8px;
  width: 100%;
}
#product-feature #catalouge-item .featured-item .featured-text .price {
  padding-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

#product-details img {
  width: 100%;
  height: auto;
}
#product-details h2 {
  color: transparent;
  font-size: 1.8rem;
  font-weight: 800;
  background: linear-gradient(to right, #212121, #9599e2);
  background-clip: text;
  border-bottom: 1px solid #9599e2;
}
#product-details .container {
  background: rgba(255, 255, 255, 0.65);
  border-radius: 8px;
}
#product-details .product-details-inner .product-header {
  padding: 1rem;
}
#product-details .product-details-inner .detailed-body {
  flex-wrap: wrap;
}
#product-details .product-details-inner .detailed-body .img-wrapper {
  width: 40%;
}
#product-details .product-details-inner .detailed-body .detail-body-img {
  background: #9599e2;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
}
#product-details .product-details-inner .detailed-body .detail-body-text {
  width: 60%;
  padding-right: 10px;
}
#product-details .product-details-inner .detailed-body .detail-body-text p {
  color: #121212;
  font-size: 1.1rem;
  font-weight: 400;
  border-bottom: 1px solid #9599e2;
  padding: 10px 0;
}
#product-details .product-details-inner .detailed-body .detail-body-text h2 {
  margin: 15px 0;
  color: #9599e2;
}
#product-details .product-details-inner .detailed-body .detail-body-text .price span {
  color: #fff;
  background: #9599e2;
  border-radius: 4px;
  font-size: 30px;
  padding: 5px;
}
#product-details .product-details-inner .detailed-body .detail-body-text .detail-body-sizes {
  border-bottom: 1px solid #9599e2;
  margin: 0;
  padding-bottom: 1rem;
}
#product-details .product-details-inner .detailed-body .detail-body-text .detail-body-sizes li {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 5px;
  border: none;
  border-radius: 50%;
  background: #9599e2;
  text-align: center;
}
#product-details .product-details-inner .detailed-body .detail-body-text .detail-body-sizes:hover {
  cursor: pointer;
}
#product-details .product-details-inner .detailed-body .detail-body-text .detail-body-number {
  padding: 0.5rem 0;
}
#product-details .product-details-inner .detailed-body .detail-body-text .detail-body-number .detail-body-number-amount button {
  color: #121212;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 7px 15px;
  border-radius: 8px;
}
#product-details .product-details-inner .detailed-body .detail-body-text .detail-body-number .detail-body-number-amount span {
  color: #121212;
  font-size: 1.1rem;
  font-weight: 700;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  padding: 7px 15px;
  background: white;
}

#similar-product img {
  width: 100%;
  height: auto;
}
#similar-product .container {
  background: rgba(255, 255, 255, 0.65);
  border-radius: 8px;
}
#similar-product .similar-product-header {
  padding: 1rem;
}
#similar-product .similar-product-header h2 {
  color: transparent;
  font-size: 1.8rem;
  font-weight: 800;
  background: linear-gradient(to right, #212121, #9599e2);
  background-clip: text;
  border-bottom: 1px solid #9599e2;
}
#similar-product .similar-product-body {
  padding: 1rem;
}
#similar-product .similar-product-body .items-catalouge {
  display: flex;
  gap: 1.25rem;
}
#similar-product .similar-product-body .items-catalouge .item {
  width: 33.3333333333%;
}
#similar-product .similar-product-body .items-catalouge .item .item-img {
  background: #9599e2;
  border-radius: 8px 8px 0 0;
  padding: 1rem;
}
#similar-product .similar-product-body .items-catalouge .item .item-body {
  background: white;
  border-radius: 0 0 8px 8px;
  padding: 5px;
}
#similar-product .similar-product-body .items-catalouge .item .item-body h3 {
  color: #9599e2;
  font-size: 1.8rem;
  font-weight: 600;
}
#similar-product .similar-product-body .items-catalouge .item .item-body .price {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#similar-product .similar-product-body .items-catalouge .item .item-body .price span {
  color: #9599e2;
  font-size: 30px;
  font-weight: 400;
}

#cart h1 {
  color: #656774;
  font-size: default;
  font-weight: 700;
  text-align: center;
}
#cart table {
  margin-top: 3rem;
  width: 100%;
}
#cart table tr td, #cart table tr th {
  border-top: 2px solid #656774;
  border-bottom: 2px solid #656774;
  text-align: center;
  padding: 0.75rem;
}

@media only screen and (max-width: 992px) {
  span {
    font-size: 1.1rem !important;
  }
  .buyButtonInverted {
    background-image: linear-gradient(to right, #9599e2 0, #8bc6ec 50%, #9599e2 100%);
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    letter-spacing: 0.015rem;
    transition: 0.5s;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background-size: 200%;
  }
  .buyButtonInverted:hover {
    background-position: right center;
  }
  .search-and-login {
    align-items: center;
  }
  .search-and-login button {
    height: 38px;
  }
  #product-preview .inner-content {
    flex-direction: column;
  }
  #product-preview .inner-content .carousel-img-wrapper {
    width: 100% !important;
  }
  #product-preview .inner-content .carousel-description {
    width: 100% !important;
  }
  #product-details .img-wrapper {
    width: 50% !important;
  }
  #product-details .detail-body-text {
    width: 50% !important;
  }
}
@media only screen and (max-width: 576px) {
  #product-preview .container .carousel-inner .carousel-item {
    padding: 0 !important;
  }
  #product-feature #catalouge-item {
    grid-template-columns: repeat(1, 100%) !important;
  }
  #product-details .detailed-body {
    flex-direction: column !important;
  }
  #product-details .detailed-body .img-wrapper {
    width: 100% !important;
  }
  #product-details .detailed-body .detail-body-text {
    width: 100% !important;
  }
  #similar-product #catalouge-item {
    flex-direction: column;
  }
  #similar-product #catalouge-item .item {
    width: 100% !important;
  }
}/*# sourceMappingURL=main.css.map */

/* #cart h1 {
  color: #656774;
  font-size: default;
  font-weight: 700;
  text-align: center;
}
#cart table {
  margin-top: 3rem;
  width: 100%;
}
#cart table tr td, #cart table tr th {
  border-top: 2px solid #656774;
  border-bottom: 2px solid #656774;
  text-align: center;
  padding: 0.75rem;
} */

/*# sourceMappingURL=main.css.map */

/* ffffffffffffffffffffffffff */

.cart-btn {
  position: relative;
}

.cart-btn .fa-solid {
  font-size: 1.5rem;
}

/* .cart-btn:hover {
  background: var(--color5);
} */

.cart-qty {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background: #fff;
  padding: 0 5px;
  border-radius: 3px;
  /* display: none; */
  color: #333;
}

.cart-qty.visible {
  display: block;
}

.cart-overlay {
  position: fixed;
  inset: 0;
  opacity: 0.5;
  visibility: hidden;
  cursor: pointer;
  background: #333;
  transition: all 0.3s ease-in-out;
}

.cart-overlay.show {
  visibility: visible;
}

.cart {
  position: fixed;
  inset-block: 0;
  right: 0;
  width: 100%;
  max-width: 420px;
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  background: #fff;
}

.cart.show {
  transform: none;
}

.cart-header {
  position: relative;
  text-align: center;
  padding-block: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-close {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-body {
  display: grid;
  align-content: start;
  gap: 20px;
  padding-block: 20px;
  overflow: auto;
}

/* hide footer if the cart is empty */
.cart-body:has(.cart-empty) + .cart-footer {
  display: none;
}

.cart-empty {
  text-align: center;
  padding-block: 20px;
  font-size: 1.25rem;
  color: #4a646c;
}

.cart-item {
  display: flex;
  gap: 10px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.cart-item-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cart-item-detail h3 {
  font-size: 1rem;
  color: #9d9171;
}

.cart-item-detail h5 {
  color: #4a646c;
}

.cart-item-amount {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
}

.cart-item-amount .fa-solid {
  cursor: pointer;
  opacity: 0.25;
}

.cart-item-amount .fa-solid:hover {
  opacity: 1;
}

.cart-item-amount .qty {
  width: 2rem;
  text-align: center;
}

.cart-item-price {
  margin-left: auto;
}

.cart-footer {
  border-top: 1px solid #ddd;
  padding-block: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.cart-footer div {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
}

.cart-footer strong {
  font-weight: 500;
  color: #9d9171;
}

.cart-footer button {
  padding-block: 10px;
  text-transform: uppercase;
}

.cart-clear {
  background: #333;
  color: #fff;
}

.cart-clear:hover {
  filter: brightness(1.75);
}

.checkout {
  background: #ab4e68;
  color: #fff;
}

.checkout:hover {
  background: #b07156;
}
