@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin backgroundColor($color) {
    background-color: $color;
}

@mixin buyButton($bg, $bd, $padding, $radius, $spacing, $transtion) {
    background: $bg;
    border: $bd;
    padding: $padding;
    border-radius: $radius;
    letter-spacing: $spacing;
    transition: $transtion;
}